//sizes
$size-1-2em: 1.2em;
$size-1-3em: 1.3em;
$size-1-4em: 1.4em;
$size-3-0em: 3em;

// font size
$font-size-s: $size-1-2em;
$font-size-m: $size-1-3em;
$font-size-l: $size-3-0em;

//line height
$line-height-s: $size-1-2em;
$line-height-m: $size-1-4em;

//font-weight
$font-weight-regular: 400;
$font-weight-bold: 700;

//colors
$bg-color-main: #73b7e1;
$text-color-main: #ffffff;
$cta-border-color: #ffffff;
$accent-color: #d469a5;
$accent-color-hover: #fa75ad;
$nav-text-color: #472063;
$nav-bg-color: #ffffff;
